/* ---------------- 전체 설정 ---------------- */


/*  :root -전역 요소 지정을 위한 가상 선택자
    -페이지 내부에서 공통으로 사용할 값을 변수로 선언
    
    * 변수 : 값을 저장하는 것
*/
:root{
    --main-color : gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black;  */
    /* 완성시 삭제 예정 */
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none; /* 목록의 스타일(앞에 붙는 점) 제거 */
}

body{
    display: flex;
    flex-direction: column;
    
    /* min-width/height :
       화면(기기,브라우저) 크기가 작아져도 유지 해야할 최소 크기  */

       min-width: 770px;
       min-height: 100vh; /* 화면 높이 100% */ 
}

/* 웹폰트 추가 */
/* -> 폰트를 적용하고 싶은 곳에서 
  font-family: 'GoryeongStrawberry' 작성 */
  @font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

  /* -------------- header -------------- */
  header{
    display: block;
    padding: 15px 0; /* 상하 좌우 */
    border-bottom: 2px solid var(--main-color);
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    width: 100%;

    /* 화면에 아무리 커져도 width의 최대값은 1500px */
    max-width: 1500px;
  }

  .header-container > div{
    height: 90%;
    display: flex;
    align-items: center;
  }
  .search > textarea{
    resize:none;
  }

  /* 헤더 왼쪽 후손 a태그 */
  .header-container-left a{
    height: 50%;
    font-weight: bold;
    font-size: 30px;
    margin: 0 10px;
    color: var(--main-color);
  }

  /* 헤더 센터 모든 후손 요소 */
  .header-container-center *{
    height: 100%;
  }

  /* 헤더 오른쪽 후손 a태그 */
  .header-container-right a{
    font-weight: bold;
    color: var(--main-color);
    margin: 0 10px;
  }

  /* ---------------- nav ---------------- */
nav{
    padding: 2px 10px;
    background-color: black;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar > li{
    width: 20%;
    height: 40px;

    /* item(a) 태그 정가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar > li > a{
    font-size: 1.2em; /* 1.2배 */
    font-weight: bold;
    color: var(--main-color);
    font-family: 'Giants-Bold';
    
    padding: 3px 10px;
    width: 100%;
    text-align: center; /* 글자 가운데 정렬 */
  }

  /* 마우스가 a태그 올라갔을 때 */
  .navbar > li > a:hover{
    color: white;
  }

  /* -------------------- main -------------------- */

  main{
    flex-grow: 1;
}

/* ---------------------- 배너 --------------------- */
.banner-container{
    height: 550px;
    border-bottom: 2px solid black;
}

.banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    


    /* 배경 이미지 추가 */
    background-image: url(../images/moon.jpg);

    /* 배경 크기 */
    background-size: auto 230%;

    /* 반복 X */
    background-repeat: no-repeat;

    /* 배경 위치 조정 */
    background-position: center;
}

/* 배너 텍스트 */

.banner-text > h1{ /* 제목 */
    padding-left: 30px;
    margin-top: 200px;
    font-size: 80px;
    font-family: 'Giants-Bold';
    color: white;
}

.banner-text > p{ /* 내용 */
    padding-left: 30px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
}

/* ------------------------ 메인 내용 ------------------------ */
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Giants-Bold';

    min-width: 800px; /* 최소 너비 800px */
    max-width: 1440px; /* 최대 너비 1440px */

    margin: auto; /* 좌우 가운데 정렬 */
}

.content-container > h1{
  font-size: 50px;
  padding: 50px 0;
}

.today{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px;
  padding: auto;
}

.today-row-1{
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 50px;
}

.today-row-1 > h1{
  padding-bottom: 30px;
}
.today-row-2{
  font-size: large;
  
}
.monster{
  width: 600px;
  height: auto;
}

.vedio{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;

  background-color: black;
  color: var(--main-color);
}

.vedio-text{
  
}
/* 내용 행 */
.content-row{
    border: 1px solid var(--main-color);
    border-radius: 20px; /* 테두리 모서리 둥글게 */
    padding: 30px;
    margin: 20px;

    display: flex;

    /* content-row 내부에 작성되는 내용, 요소의 높이에 맞게
       자동으로 content-row의 height가 지정 될 수 있도록 별도 설정을 하지 않음 */
}

/* 썸네일 열 */
.thumbnail-col{
    width: 200px;
    flex-shrink: 0;
}
  
  /* 썸네일 이미지 */
  .thumbnail{
    /* width <-> height 반대로도 가능 */
    width: 100%;
    height: auto; /* width 비율에 맞게 자동으로 height 조정 */
  }

  /* 설명 열 */
.description-col{
    flex-grow: 1;
    padding: 20px;
    margin: 0 30px;
}

/* 제목 */
.description-col > h1:hover{
    text-decoration: underline;
}

/* 구분선 */
.description-col > hr{
    margin: 20px 0;
}

/* 내용 */
.description-col > p{
    font-size: 20px;

    /* white-space : 텍스트 요소에서 공백을 처리하는 방법 설정 */
    /* pre : 작성된 텍스트 모양 그대로 출력(pre 태그 처럼) */
    /* pre-wrap : pre + 텍스트가 요소의 너비를 초과하며 줄바꿈*/
    white-space: pre-wrap;
}

.



/* -------------- footer -------------- */
footer{
    /* flex container에 의해서 크기가 변형되는걸 방지 */
    flex-grow: 0;
    flex-shrink: 0;
  
    height: 200px;
    color: var(--main-color);
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .resize-image{
    width: 50px;
    height: 50px;
  }

  footer > p{
    font-weight: bold;
    margin: 16px 0px;
  }
  
  footer span{
    padding: 0 10px;
  }

  article > a{
    color: var(--main-color);
  }

@media screen and (max-width: 1500px){
    /* 화면 너비가 0~1500px 사이일 때 적용할 CSS코드 작성 */

    /* 1500px 이하일 때 사이드 메뉴를 보이지 않게 함 */
    aside{
        display: none;
    }
}

@media screen and (max-width: 1024px){
    /* 화면 너비가 0~1024px 사이일 때 적용할 CSS 코드 작성 */
    .card-item{
        width: 33.33%
    }
}

.thumbnail-col{
    width: 330px;